<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Shovice | Admin</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #e6e8ed;
      color: #666666;
      font-family: "Montserrat", sans-serif;
    }
  </style>

  <body>
    <div class="grid-container">
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>

      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span> Admin
            Dashboard
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/api/admin">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/admin/products">
              <span class="material-icons-outlined">inventory_2</span> Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/admin/product">
              <span class="material-icons-outlined">add</span> Add Product
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/admin/users-order">
              <span class="material-icons-outlined">add_shopping_cart</span>
              Purchase Orders
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/admin/message">
              <span class="material-icons-outlined">message</span> Messages
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/auth/logout">
              <span class="material-icons-outlined">login</span> Sign out
            </a>
          </li>
        </ul>
      </aside>

      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>

        <div class="main-cards">
          <div class="card">
            <div class="card-inner">
              <p class="text-primary">PRODUCTS</p>
              <span class="material-icons-outlined text-blue">inventory_2</span>
            </div>
            <span class="text-primary font-weight-bold"><%= products %></span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">PURCHASE ORDERS</p>
              <span class="material-icons-outlined text-orange"
                >add_shopping_cart</span
              >
            </div>
            <span class="text-primary font-weight-bold"><%= orders %></span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">SALES ORDERS</p>
              <span class="material-icons-outlined text-green"
                >shopping_cart</span
              >
            </div>
            <span class="text-primary font-weight-bold"><%= carts %></span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">SUBSCRIBERS</p>
              <span class="material-icons-outlined text-red">person</span>
            </div>
            <span class="text-primary font-weight-bold"><%= users %></span>
          </div>
        </div>

        <div class="charts">
          <div class="charts-card">
            <p class="chart-title">Products Categories</p>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <p class="chart-title">Purchase and Sales Orders</p>
            <div id="area-chart"></div>
          </div>
        </div>
      </main>
    </div>

    <script>
      const laptops = <%- JSON.stringify(laptops) %>
      const phones = <%- JSON.stringify(phones) %>
      const screens = <%- JSON.stringify(screens) %>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
