<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Shovice | Admin</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/lib/bootstrap-5.1.3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/w3-theme-black.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/lib/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/e609f8dd22.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #e6e8ed;
      color: #666666;
      font-family: "Montserrat", sans-serif;
    }
  </style>

  <body>
    <div class="grid-container">
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>

      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span> Admin
            Dashboard
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/api/admin">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/admin/product">
              <span class="material-icons-outlined">inventory_2</span> Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/admin/product">
              <span class="material-icons-outlined">add</span> Add Product
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/admin/users-order">
              <span class="material-icons-outlined">add_shopping_cart</span>
              Purchase Orders
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-icons-outlined">message</span> Messages
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/api/auth/logout">
              <span class="material-icons-outlined">login</span> Sign out
            </a>
          </li>
        </ul>
      </aside>

      <main class="main-container">
        <div
          class="w3-container w3-padding welcome-container"
          style="background-color: #4e989a"
          id="myHeader"
        >
          <div class="w3-center" style="padding: 20px">
            <h1 class="w3-xxxlarge w3-animate-bottom" style="color: white">
              Welcome to Shovice
            </h1>
            <h4 style="padding-top: 15px; color: white">
              Ecommerce website that allows users to buy Electronic products
              online
            </h4>
            <div class="w3-padding-32">
              <a href="/api/admin/users-order">
                <button
                  type="button"
                  class="btn btn-outline-light"
                  style="padding: 10px 40px"
                >
                  All Orders
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="d">
              <h1>Top selling products</h1>
              <svg
                width="680"
                height="1"
                viewBox="0 0 680 1"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="0.5" x2="680" y2="0.5" stroke="black" />
              </svg>
            </div>
          </div>
        </div>
        <div class="e" style="display: flex; justify-content: center">
          <form method="post" action="/" style="margin: 0 30px">
            <label
              ><strong>You can filter the products by category: </strong></label
            ><br />
            <select
              id="category"
              name="category"
              class="select-items"
              style="width: 200px"
            >
              <option disabled value="" selected>Select a category</option>
              <option value="">All</option>
              <option value="laptop">Laptop</option>
              <option value="phone">Phone</option>
              <option value="screen">Screen</option>
            </select>
            <button class="filter" type="submit">
              <strong>Filter</strong>
            </button>
          </form>
        </div>

            <table class="admin-table" style="width: 100%; text-align: center;">
              <tr>
                <th style="width: 30%">Name</th>
                <th style="width: 40%">Details</th>
                <th style="width: 15%">category</th>
                <th style="width: 5%">price</th>
                <th style="width: 10%">action</th>
              </tr>
              <% if (products.length > 0) { %> <% products.forEach(product=> {
              %>
              <tr>
                <td>
                  <a
                    style="text-decoration: none; color: red"
                    href="/product/<%=product.id%>"
                    ><strong><%= product.name %></strong></a
                  >
                </td>
                <td><strong><%= product.desc %></strong></td>
                <td><strong><%= product.category %></strong></td>
                <td><strong><%= product.price %></strong></td>
                <td>
                  <div
                    style="display: flex; justify-content: space-around"
                    class="action-btns"
                  >
                    <a
                      href="/api/admin/product/<%= product.id %>"
                      style="font-size: 20px"
                      ><i class="fa-solid fa-pen-to-square"></i
                    ></a>
                    <form
                      action="/api/admin/product/<%= product.id %>?_method=DELETE"
                      method="POST"
                    >
                      <div class="button-container">
                        <button
                          onclick="confirm('Are you sure, that you want to delete this products?')"
                          type="submit"
                          class="product-edit"
                        >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %> <% } else { %>
              <tr>
                <td></td>
                <td>
                  No poduct available now, you can add new
                  <a style="color: #ff0000" href="/api/admin/product">here</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <% } %>
            </table>

        </div>
      </main>
    </div>
  </body>
</html>
