<div class="container">
  <div class="row">
    <div class="col-6 l">
      <h4 class="f1"><%= products[0].category %></h4>
      <a
        style="color: black; text-decoration: none"
        href="product/<%=products[0].id%>"
        ><h3 class="f2"><%=products[0].name%></h3></a
      >
      <p class="f2">
        <b style="font-size: 30px"><%= products[0].desc %></b><br />
        <b style="font-size: 20px; color: red"> And Device features is </b>
        <i
          style="
            border: solid rgb(255, 0, 0);
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 5px;
            margin: 2px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          "
        ></i>
        <br /><br />
        <b>Operating system:</b> Windows 10.<br />
        <b>CPU manufacturer:</b> Intel.<br />
        <b>Screen size:</b> 15.6 inches.<br />
        <b>RAM size:</b> 8 GB.<br />
        <b>RAM Type:</b> DDR4 SDRAM.<br />
        <b>Processor:</b> AMD Ryzen 5-4500U.<br />
        <b>Processor Speed:</b> 2.30 GHz.<br />
        <b>Screen Card:</b> AMD Radeon<br />
        <b>Storage Disk Space:</b> 256 GB SSD, PCIe.<br />
        <b>Design:</b> 360 degree flip and foldable.<br />
        <b>Display quality:</b> Full HD touch screen.<br />
      </p>
      <div class="buying ff1">
        <h4 class="f3">$<%= products[0].price %></h4>
        <div class="f6">
          <form
            action="/user/cart/add/<%= products[0].id %>?_method=POST"
            method="POST"
          >
            <button
              type="submit"
              class="ff2"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
              "
            >
              <img
                style="margin-right: 10px"
                class="f5"
                src="img/3.png"
                alt=""
              />
            </button>
          </form>
        </div>
      </div>
    </div>
    <div style="width: 40%; height: 620px" class="col-6 l">
      <img
        style="width: 100%; height: 100%"
        src="img/<%= products[0].category %>.png"
        alt=""
      />
    </div>

    <% products.forEach(product=> { %> <% console.log(111111, product); %>
    <div class="col-3 g g1">
      <img class="f" src="img/<%= product.category %>.png" alt="" />
      <p class="f1"><%= product.category %></p>
      <a
        style="color: black; text-decoration: none"
        href="product/<%=product.id%>"
        ><h5 class="f2"><%=product.name%></h5></a
      >
      <div class="buying ff1">
        <b class="f3">$<%= product.price %></b>
        <div class="f6">
          <form
            action="/user/cart/add/<%= product.id %>?_method=POST"
            method="POST"
          >
            <button
              type="submit"
              class="ff2"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <img
                style="margin-right: 10px"
                class="f5"
                src="img/3.png"
                alt=""
              />
            </button>
          </form>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
