<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/title.png" type="image/icon type" />
    <link rel="stylesheet" href="/lib/bootstrap-5.1.3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/w3-theme-black.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/lib/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/e609f8dd22.js"
      crossorigin="anonymous"
    ></script>

    <title>Shovice</title>
  </head>
  <body>
    <header>
      <div class="header-container" style="display: flex; padding: 0 150px">
        <div class="header-img">
          <a href="/"
            ><img src="/img/1.png" alt="" width="150px" height="80px"
          /></a>
        </div>
        <div class="header-search">
          <form action="">
            <input
              class="search-bar"
              type="text"
              placeholder="Search for products.."
              name="search"
            />
            <button class="search-btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <% if(user) { %>
        <div class="header-items" style="display: flex">
          <a href="/user/cart" class="cart-btn"
            ><i class="fa-solid fa-cart-shopping"></i>
          </a>
          <a class="nav-link b" href="/">Home</a>
          <a class="nav-link b" href="/api/auth/logout">Logout</a>
        </div>

        <p style="margin: 15px 0 0 20px; color: red">
          Welcome <br /><strong style="color: black"
            ><%= user.username %></strong
          >
        </p>
        <% } else { %>
        <div class="header-items" style="display: flex">
          <a href="/user/cart" class="cart-btn"
            ><i class="fa-solid fa-cart-shopping"></i>
          </a>
          <a class="nav-link b" href="/">Home</a>
          <a class="nav-link b" href="/api/auth/login">Log in</a>
          <% } %>
        </div>
      </div>
    </header>

    <section>
      <div
        class="w3-container w3-padding welcome-container"
        style="background-color: #4e989a"
        id="myHeader"
      >
        <div class="w3-center" style="padding: 20px">
          <h1 class="w3-xxxlarge w3-animate-bottom" style="color: white">
            Welcome to Shovice
          </h1>
          <h4 style="padding-top: 15px; color: white">
            Ecommerce website that allows users to buy Electronic products
            online
          </h4>
          <div class="w3-padding-32">
            <% if(user && user.isAdmin) { %>
            <a href="/api/admin/product">
              <button
                type="button"
                class="btn btn-outline-light"
                style="padding: 10px 40px"
              >
                Add product +
              </button>
            </a>
            <% } else if (user && !user.isAdmin) { %>
            <a href="/user/cart">
              <button
                type="button"
                class="btn btn-outline-light"
                style="padding: 10px 40px"
              >
                Go to cart
              </button>
            </a>
            <% } else { %>
            <a href="/user/cart">
              <button
                type="button"
                onclick="alert('Login with our website to can buy!')"
                class="btn btn-outline-light"
                style="padding: 10px 40px"
              >
                Go to cart
              </button>
            </a>

            <% } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <img class="i" src="/img/<%= product.category %>.png" alt="" />
        </div>
        <div class="col-6 j">
          <div class="j1">
            <h3 class="j2" style="font-weight: 600"><%= product.name %></h3>
            <div class="j4">
              <h2><%= product.desc %></h2>
            </div>
            <div>
              <h5 class="j3">$<%= product.price %></h5>
              <h5><%= product.category %></h5>
            </div>
          </div>

          <% if(user && user.isAdmin) { %>
          <div
            style="
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 20px;
              margin: 20px;
            "
          >
            <button
              type="button"
              style="
                background-color: red;
                color: rgb(255, 255, 255);
                width: 40%;
                padding: 5px 0;
              "
            >
              <img class="k1" src="img/6.png" alt="" />
              Delete
            </button>

            <button
              type="button"
              style="
                background-color: #4e989a;
                color: rgb(255, 255, 255);
                width: 40%;
                padding: 5px 0;
              "
            >
              <img class="k1" src="img/5.png" alt="" />
              Edit
            </button>

            <button
              class="delete"
              data-target="/api/admin/product/<%= product.id %>"
              data-method="DELETE"
              data-disabled="true"
            >
              Delete Article
            </button>
          </div>
          <% } else { %>
          <form
            action="/user/cart/add/<%= product.id %>?_method=POST"
            method="POST"
          >
            <button type="submit" class="btn k">
              <img class="k1" src="/img/8.png" alt="" />
              Add to cart
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </section>
  </body>
</html>
